@charset "utf-8";
/* CSS Document */

#sheets {
	padding:5px;
	width:auto;
	position:fixed;
	border:#000000 thin;
	right:0px;
	top:10px;
	height:auto;
	float:right;
	z-index:1984;
	font-family: "trebuchet MS",sans-serif;
	font-size: 12px;
}


body {
	margin:0px;
	padding:0px;

	height:auto;
	background:url(imgportfolio/bg.png) no-repeat fixed 0 0;
		
}
img {
	border:1px #000000;
}

 a {
	color:#036;
	
	}
 a:hover {
	color:#603;
	}

#contenu {
	float:left;
	height:auto;
	margin-left:120px;
	
}



.work {
	width:520px;
	height: auto;
	float:left;
	font-family: font-family: georgia,serif;
	font-size: 12px;
	letter-spacing: 1.2pt;
	line-height: 1.5;
}
.work img {
	float:left;
}
.work p {
	padding-left: 210px;
}
.work ul {
	padding-left: 210px;
	color:#666666;
	}

.nav {
	width:200px;
	height: auto;
	float:left;
	font-family: "palatino linotype",palatino,serif;
	color: #333;
	font-size: 12px;
	line-height: 1.5;
}
.nav li {
list-style:url(imgportfolio/rightsmall.png);
}

.image {
	padding-left:10px;
	padding-bottom:10px;

	}



#menutop { height:170px; width:100%; float:left;}
#menu {
	position:fixed; left:0px; top:0px; z-index:50; width:150px;
	padding-left:10px;
	padding-right:10px;
	margin-right:60px;
	}

.txt {
	font-family: "trebuchet MS",sans-serif;
	font-size: 10px;
	letter-spacing: 1.2pt;
	line-height: 1.8;
	}

.texte {
	font-family: "trebuchet MS",sans-serif;
	font-size: 12px;
	letter-spacing: 1.2pt;
	padding:30px;
	}

.titre {
	font-family: "palatino linotype",palatino,serif;
	font-size: 16px;
	letter-spacing: 2pt;
	color:#333333;
	font-variant: small-caps;
	}
.date {
	color: #333;
}
.employeur {
	font-style: italic;
}
.fonction {
	font-weight: bold;
	}
	
	
	
	
	
	
	
	
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto; border: 1px #000000;}
#lightbox a img{ border: 1px #000000; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(imgportfolio/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(imgportfolio/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#bottomNavClose {background: url(imgportfolio/close.gif) right 15% no-repeat;}

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }